aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    cliPath = '/opt/awscliv2/bin/aws'
    volumes = '/scratch'
  }
}

params {

  max_fastq_records = 250000000

  genomes {
    GRCh38_umccr {
      fasta         = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
      fai           = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
      dict          = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
      img           = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
      bwamem2_index = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa-mem2_index/2.2.1/"
      gridss_index  = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/gridss_index/2.13.2/"
      star_index    = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/star_index/gencode_38/2.7.3a/"
    }
  }

}

process {
  executor = 'awsbatch'
  scratch = '/scratch/'

  containerOptions = '--env LD_LIBRARY_PATH=/opt/awscliv2/aws-cli/v2/current/dist'

  resourceLabels = {
    return [
      'Stack': 'NextflowStack',
      'SubStack': 'OncoanalyserStack',
      'RunId': '__PORTAL_RUN_ID__',
      'JobName': task.process,
    ]
  }

  withName: 'FASTP' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-ebs'
    cpus = 16
    memory = 30.GB
  }

  withName: 'BWAMEM2_ALIGN' {
    queue = 'nextflow-task-ondemand-32cpu_64gb-ebs'
    cpus = 32
    memory = 60.GB
  }

  withName: 'REDUX' {
    queue = 'nextflow-task-ondemand-16cpu_128gb-ebs'
    cpus = 16
    memory = 120.GB
  }

  withName: 'STAR_ALIGN' {
    queue = 'nextflow-task-ondemand-8cpu_64gb-ebs'
    cpus = 8
    memory = 60.GB
  }

  withName: 'SAMTOOLS_SORT' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SAMBAMBA_MERGE' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'GATK4_MARKDUPLICATES' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'AMBER' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'ESVEE_PREP' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_64gb-ebs' : 'nextflow-task-ondemand-16cpu_128gb-ebs' }
    cpus =   { task.attempt == 1 ? 16                                      : 8                                        }
    memory = { task.attempt == 1 ? 60.GB                                   : 122.GB                                   }
  }

  withName: 'ESVEE_ASSEMBLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    time = 12.h

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_64gb-ebs' : 'nextflow-task-ondemand-16cpu_128gb-ebs' }
    cpus = 16
    memory = { task.attempt == 1 ? 60.GB                                   : 122.GB                                   }
  }

  withName: 'ESVEE_DEPTH_ANNOTATOR' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-16cpu_64gb-ebs' : 'nextflow-task-ondemand-16cpu_128gb-ebs' }
    cpus =   { task.attempt == 1 ? 16                                      : 8                                        }
    memory = { task.attempt == 1 ? 60.GB                                   : 122.GB                                   }
  }

  withName: 'ESVEE_CALL' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-ebs'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SAGE_GERMLINE' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SAGE_SOMATIC' {
    queue = 'nextflow-task-ondemand-16cpu_32gb-ebs'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_APPEND:SAGE_APPEND_(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:PAVE_ANNOTATION:PAVE_GERMLINE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:PAVE_SOMATIC' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-ondemand-4cpu_32gb-ebs' : 'nextflow-task-ondemand-8cpu_64gb-ebs' }
    cpus =   { task.attempt == 1 ? 4                                      : 8                                      }
    memory = { task.attempt == 1 ? 30.GB                                  : 60.GB                                  }
  }

  withName: '.*:LINX_ANNOTATION:LINX_(?:GERMLINE|SOMATIC)' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:LINX_PLOTTING:LINX_VISUALISER' {
    errorStrategy = 'retry'
    maxRetries = 1

    queue = 'nextflow-task-ondemand-8cpu_64gb-ebs'
    cpus = 8
    memory = 60.GB
  }

  withName: '.*:LINX_PLOTTING:LINXREPORT' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BAMTOOLS' {

    // TODO(SW): can use much less memory for this process; create new CPU queue or determine whether performance over fusion is good enough for nextflow-task-16cpu_32gb

    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'CHORD' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'LILAC' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    queue = 'nextflow-task-ondemand-4cpu_32gb-ebs'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SIGS' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'VIRUSBREAKEND' {
    queue = 'nextflow-task-ondemand-8cpu_64gb-ebs'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ISOFOX' {
    queue = 'nextflow-task-ondemand-8cpu_32gb-ebs'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ORANGE' {
    queue = 'nextflow-task-ondemand-2cpu_16gb-ebs'
    cpus = 2
    memory = 14.GB
  }

}
