plugins {
  id 'nf-amazon'
}

aws {
  batch {
    jobRole = '__BATCH_INSTANCE_ROLE__'
    volumes = '/mnt/local_ephemeral/:/tmp/'
  }
}

// NOTE(SW): required for Nextflow to run jobs locally and use permissions granted by IAM roles
docker.runOptions = '--network host'

params {
  genomes {
    GRCh38_umccr {
      fasta           = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa"
      fai             = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
      dict            = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict"
      bwa_index       = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa_index/0.7.17-r1188/"
      bwa_index_image = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/bwa_index_image/0.7.17-r1188/GRCh38_full_analysis_set_plus_decoy_hla.fa.img"
      gridss_index    = "__S3_GENOMES_DATA_PATH__/GRCh38_umccr/gridss_index/2.13.2/GRCh38_full_analysis_set_plus_decoy_hla.fa.gridsscache"
    }
  }
}

process {
  executor = 'awsbatch'
  scratch = '/tmp/'

  // NOTE(SW): AWS Batch jobs can only run where there is allocatable memory present on the instances, and this amount
  // is never the total capacity since ECS reserves memory and the system also occpies several hundred MiB. See
  // https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html
  // NOTE(SW): Anything less than a 2.GB buffer appears to prevent Batch jobs from running on target instances

  withName: 'AMBER' {
    container = 'docker.io/scwatts/amber:3.9--3-aws'

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'COBALT' {
    container = 'docker.io/scwatts/cobalt:1.15.2--0-aws'

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'SVPREP_TUMOR' {
    container = 'docker.io/scwatts/svprep:1.2.2--0-aws'

    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_64gb' : 'nextflow-task-16cpu_128gb' }
    cpus =   { task.attempt == 1 ? 16                         : 8                           }
    memory = { task.attempt == 1 ? 60.GB                      : 122.GB                      }
  }

  withName: 'SVPREP_NORMAL' {
    container = 'docker.io/scwatts/svprep:1.2.2--0-aws'

    queue = 'nextflow-task-16cpu_32gb'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:(PREPROCESS|ASSEMBLE|CALL)' {
    container = 'docker.io/scwatts/svprep:1.2.2--0-aws'

    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_32gb' : 'nextflow-task-16cpu_128gb' }
    cpus =   { task.attempt == 1 ? 16                         : 8                           }
    memory = { task.attempt == 1 ? 30.GB                      : 122.GB                      }
  }

  withName: '.*:GRIDSS_SVPREP_CALLING:DEPTH_ANNOTATOR' {
    container = 'docker.io/scwatts/gripss:2.3.5--0-aws'

    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-16cpu_64gb' : 'nextflow-task-16cpu_128gb' }
    cpus =   { task.attempt == 1 ? 16                         : 8                           }
    memory = { task.attempt == 1 ? 60.GB                      : 122.GB                      }
  }

  withName: '.*:GRIPSS_FILTERING:(?:GERMLINE|SOMATIC)' {
    container = 'docker.io/scwatts/gripss:2.3.5--0-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:GERMLINE' {
    container = 'docker.io/scwatts/sage:3.3.1--0-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:SAGE_CALLING:SOMATIC' {
    container = 'docker.io/scwatts/sage:3.3.1--0-aws'

    queue = 'nextflow-task-16cpu_32gb'
    cpus = 16
    memory = 30.GB
  }

  withName: '.*:SAGE_APPEND:(?:GERMLINE|SOMATIC)' {
    container = 'docker.io/scwatts/sage:3.3.1--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:PAVE_ANNOTATION:GERMLINE' {
    container = 'docker.io/scwatts/pave:1.5--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  // NOTE(SW): PAVE somatic uses a significant amount of memory, runtime is usually less than 5-10 minutes

  withName: '.*:PAVE_ANNOTATION:SOMATIC' {
    container = 'docker.io/scwatts/pave:1.5--0-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: 'PURPLE' {
    container = 'docker.io/scwatts/purple:3.9.2--0-aws'

    errorStrategy = 'retry'
    maxRetries = 1

    queue =  { task.attempt == 1 ? 'nextflow-task-4cpu_32gb' : 'nextflow-task-8cpu_64gb' }
    cpus =   { task.attempt == 1 ? 4                         : 8                         }
    memory = { task.attempt == 1 ? 30.GB                     : 60.GB                     }
  }

  withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)' {
    container = 'docker.io/scwatts/linx:1.24.1--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    container = 'docker.io/scwatts/linx:1.24.1--0-aws'

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:LINX_PLOTTING:GPGR' {
    container = 'docker.io/scwatts/gpgr:1.4.5-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'BAMTOOLS' {
    container = 'docker.io/scwatts/bamtools:1.1--0-aws'


    // TODO(SW): can use much less memory for this process; create new CPU queue or determine whether performance over fusion is good enough for nextflow-task-16cpu_32gb

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
    time = 24.h
  }

  withName: 'CHORD' {
    container = 'docker.io/scwatts/chord:2.00--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'LILAC' {
    container = 'docker.io/scwatts/lilac:1.5--0-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:EXTRACTCONTIG' {
    container = 'docker.io/scwatts/custom-extract_and_index_contig:0.0.1--3-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:REALIGNREADS' {
    container = 'docker.io/scwatts/custom-realign_reads_lilac:0.0.1--3-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: '.*:LILAC_CALLING:SLICEBAM' {
    container = 'docker.io/scwatts/samtools:1.15.1--h1170115_0-aws'

    queue = 'nextflow-task-4cpu_32gb'
    cpus = 4
    memory = 30.GB
  }

  withName: 'SIGS' {
    container = 'docker.io/scwatts/sigs:1.1--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'VIRUSBREAKEND' {
    container = 'docker.io/scwatts/gridss:2.13.2--3-aws'

    queue = 'nextflow-task-8cpu_64gb'
    cpus = 8
    memory = 60.GB
  }

  withName: 'VIRUSINTERPRETER' {
    container = 'docker.io/scwatts/virus_interpreter:1.3--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ISOFOX' {
    container = 'docker.io/scwatts/isofox:1.6.2--0-aws'

    queue = 'nextflow-task-8cpu_32gb'
    cpus = 8
    memory = 30.GB
  }

  withName: 'CUPPA.*' {
    container = 'docker.io/scwatts/cuppa:1.8.1--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'SAMTOOLS_FLAGSTAT' {
    container = 'docker.io/scwatts/samtools:1.16.1--h6899075_1-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'ORANGE' {
    container = 'docker.io/scwatts/orange:2.7.0--0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    container = 'docker.io/scwatts/multiqc:1.11--pyhdfd78af_0-aws'

    queue = 'nextflow-task-2cpu_16gb'
    cpus = 2
    memory = 14.GB
  }
}
